<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
          <!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

		<link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div class="myform">
			<form class="form-group" th:action="@{/registration}" method="post">
            <div><label  for="exampleInputEmail1"> User Name : <input type="text" class="form-control" id="exampleInputEmail1" name="username"/> </label></div>
             <div><label for="exampleInputPassword1"> Email: <input type="email" name="email"  class="form-control" id="exampleInputPassword1"/> </label>
				            <div><label for="exampleInputPassword1"> Password: <input type="password" name="password"  class="form-control" id="exampleInputPassword1"/> </label></div>
				            <small id="emailHelp" class="form-text text-muted mb-2 mt-0">We'll never share your password with anyone else.</small>
				            <div><input  class="btn btn-primary" type="submit" value="Create"/></div>
				            
        </form>
        </div>
    </body>
</html>